body {
    margin: 0;
    padding: 0;
    font-family: 'Robuto', Arial;
}

nav {
    display: flex;
    background-color: #1F2937;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    /* margin-left: 200px; */
}

.header-links {
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-left: auto;
    /* margin-right: 200px; */
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.header-link {
    text-decoration: none;
    color: #E5E7EB;
}

.main-section {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
    background-color: #1F2937;
    padding: 2em;
}

.main-section-left {
    display: flex;
    flex-direction: column;
}

.main-section-left h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bold;
    margin: 0;
}

.main-section-left p {
    color: #E5E7EB;
    font-size: 18px;
}

.main-section-right img{
    max-width: 100%;
    min-height: 100%;
}

.signup-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    font-size: 18px;
    background-color: #3882F6;
    text-decoration: none;
    border-radius: 10px;
    width: 6em;
    height: 1.5em;
}

.information-section {
    text-align: center;
    padding: 2em;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 150px;
}

.box-one,
.box-two,
.box-three,
.box-four {
    border-radius: 25px;
    max-width: 150px;
    min-height: 150px;
    border: solid #3882F6 2px;
}

.quote-section {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    gap: 1em;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    max-width: 800px;
}

.author {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    max-width: 800px;
    text-align: end;
}